@model Res.Data.ViewModels.CartVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="container m-2">
    <h4>Product</h4>
    <hr />
 
    <form asp-action="Buy" asp-controller="Cart" method="post">
        <input class="btn-group-lg"  />
        <input class="btn-group-lg" asp-for="@Model.Orders.Description" /> 
        <input class="btn-group-lg " asp-for="@Model.Orders.OrderDate" /> 
        <input type="hidden" asp-for="@Model.Product.Id" />

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>

    </form>

</div>
<div>

    <a asp-action="Edit" asp-route-id="@Model.Product.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
