@model Res.Data.Entities.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDes" class="control-label"></label>
                <input asp-for="ShortDes" class="form-control" />
                <span asp-validation-for="ShortDes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongDes" class="control-label"></label>
                <input asp-for="LongDes" class="form-control" />
                <span asp-validation-for="LongDes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImg" class="control-label"></label>
                <input asp-for="ProductImg" class="form-control" />
                <span asp-validation-for="ProductImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IsDelete" class="control-label"></label>
                <input asp-for="IsDelete" class="form-control" />
                <span asp-validation-for="IsDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAdd" class="control-label"></label>
                <input asp-for="UserAdd" class="form-control" />
                <span asp-validation-for="UserAdd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEdit" class="control-label"></label>
                <input asp-for="UserEdit" class="form-control" />
                <span asp-validation-for="UserEdit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreate" class="control-label"></label>
                <input asp-for="DateCreate" class="form-control" />
                <span asp-validation-for="DateCreate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEdit" class="control-label"></label>
                <input asp-for="DateEdit" class="form-control" />
                <span asp-validation-for="DateEdit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
